In [1]:
# import/define file

import pandas as pd
import os
import csv

data_file = "Resources/election_data.csv"

In [2]:
# head test.

data_file_pd = pd.read_csv(data_file)
data_file_pd.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [21]:
#total votes

totalvotes=len(data_file_pd.index)
totalvotes

3521001

In [22]:
#list of candidates

candidates=data_file_pd["Candidate"].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [5]:
#percentage of votes for each candidate.

percentvotes = data_file_pd["Candidate"].value_counts()
percentvotes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [23]:
#total number of votes for each candidate.

eachvotes= data_file_pd["Candidate"].value_counts()
eachvotes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [16]:
#winner of the election.

winner=data_file_pd["Candidate"].value_counts()
winner

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [38]:
# define analysis / print

print(f"Total Votes = ", totalvotes)
votesdb = ({"candidates": candidates,
      "Votes": eachvotes})
votesdb

Total Votes =  3521001

{'candidates': array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object),
 'Votes': Khan        2218231
 Correy       704200
 Li           492940
 O'Tooley     105630
 Name: Candidate, dtype: int64}

In [29]:
#print analysis / export text file

with open("AnalysisOutput.txt", "w") as text_file:
    print(analysis, file=text_file)