In [1]:
# import/define file

import pandas as pd
import os
import csv

data_file = "Resources/employee_data.csv"

In [16]:
# head test.

data_file_pd = pd.read_csv(data_file)
data_file_pd.tail()

     Emp ID              Name         DOB          SSN      State
645     235  Cameron Mcintosh  1975-02-01  781-82-8921     Nevada
646      21   Michelle Brewer  1988-06-10  038-84-6836   Oklahoma
647     362      Hannah Nolan  1978-09-15  570-46-1332   Oklahoma
648     368     Erica Johnson  1978-05-27  620-05-9413  Louisiana
649     323     Jeremy Obrien  1982-01-13  153-17-7592     Oregon

In [3]:
# name column split first/last

firstlast = data_file_pd["Name"].str.split(expand=True,)

firstlast.head()

         0          1
0     John    Mathews
1   Nathan      Moore
2   Amanda    Douglas
3  Heather    Andrews
4   Daniel  Hernandez

In [5]:
# dob to MM/DD/YYYY

#newdate = data_file_pd["DOB"].()

#newdate.head()

In [6]:
# SSN hide first 5 digits

ssnlength = data_file_pd["SSN"].str.len()

ssnlength

NameError: name 'data_file_pd' is not defined

In [ ]:
# State as 2-letter abbreviation

# stateab = data_file["State"].str.replace ??

In [1]:
# convert/export file.txt