In [1]:
# import/define file

import pandas as pd
import os
import csv

data_file = "Resources/budget_data.csv"

In [2]:
# head test.

data_file_pd = pd.read_csv(data_file)
data_file_pd.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
# count of total months.

data_file_pd["Date"].count()

86

In [4]:
# net gain/loss

data_file_pd["Profit/Losses"].sum()

38382578

In [11]:
# average gain/loss

data_file_pd["Net Change"] = data_file_pd["Profit/Losses"].shift(-1) - data_file_pd["Profit/Losses"]

data_file_pd["Net Change"].mean()

avgchange = data_file_pd["Net Change"].mean()

AttributeError: 'float' object has no attribute 'sum'

In [6]:
# greatest increase in profits (date and amount)

data_file_pd["Profit/Losses"].max()

maxchange = data_file_pd["Profit/Losses"].max()

In [7]:
# greatest decrease in losses (date and amount)

data_file_pd["Profit/Losses"].min()

-1196225

In [8]:
# define Analysis.DataFrame / Print

analysis = pd.DataFrame({
    "Total Months":[86],
    "Net Gain/Loss": [38382578],
    "Average Gain/Loss" : [avgchange],
    "Max Increase" : [maxchange],
    "Max Decrease" : [-1196225]
})

analysis

   Total Months  Net Gain/Loss  Average Gain/Loss  Max Increase  Max Decrease
0            86       38382578       -2315.117647       1170593      -1196225

In [9]:
# export text file.

with open("AnalysisOutput.txt", "w") as text_file:
    print(analysis, file=text_file)