In [1]:
# import/define file

import pandas as pd
import os
import csv

data_file = "Resources/employee_data.csv"

In [2]:
# head test.

data_file_pd = pd.read_csv(data_file)
data_file_pd.tail()

     Emp ID              Name         DOB          SSN      State
645     235  Cameron Mcintosh  1975-02-01  781-82-8921     Nevada
646      21   Michelle Brewer  1988-06-10  038-84-6836   Oklahoma
647     362      Hannah Nolan  1978-09-15  570-46-1332   Oklahoma
648     368     Erica Johnson  1978-05-27  620-05-9413  Louisiana
649     323     Jeremy Obrien  1982-01-13  153-17-7592     Oregon

In [3]:
# name column split first/last

firstlast = data_file_pd["Name"].str.split(expand=True,)

firstlast.head()

         0          1
0     John    Mathews
1   Nathan      Moore
2   Amanda    Douglas
3  Heather    Andrews
4   Daniel  Hernandez

In [19]:
# dob to MM/DD/YYYY

newdate = data_file_pd["DOB"].dt()

newdate.head()

AttributeError: Can only use .dt accessor with datetimelike values

In [5]:
# SSN hide first 5 digits

ssnlength = data_file_pd["SSN"].str.len()

edit = data_file_pd["SSN"].str[6:11]
data_file_pd["SSN"] = "***-**" + edit.astype(str)

data_file_pd.head()

   Emp ID              Name         DOB          SSN         State
0     232      John Mathews  1991-02-24  ***-**-9165  North Dakota
1     533      Nathan Moore  1978-11-19  ***-**-7469         Maine
2     256    Amanda Douglas  1990-01-08  ***-**-6961         Idaho
3     189   Heather Andrews  1976-08-11  ***-**-1797       Vermont
4     284  Daniel Hernandez  1976-07-22  ***-**-7473      Colorado

In [16]:
# State as 2-letter abbreviation

state_abv = data_file_pd["State"]({
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
})

state_abv

TypeError: 'Series' object is not callable

In [ ]:
# convert/export file.txt